---
layout: default
title: プライバシーポリシー
permalink: "privacy/index.html"
---

<h1 class="text-3xl leading-normal font-bold mt-0 mb-7 text-center">{{ title }}</h1>

<h2 class="text-xl font-medium text-gray-700 my-0">広告について</h2>

当サイトでは、第三者配信の広告サービス（Googleアドセンス、A8.net）を利用しており、ユーザーの興味に応じた商品やサービスの広告を表示するため、クッキー（Cookie）を使用しております。
クッキーを使用することで当サイトはお客様のコンピュータを識別できるようになりますが、お客様個人を特定できるものではありません。

Cookieを無効にする方法やGoogleアドセンスに関する詳細は「広告 – ポリシーと規約 – Google」をご確認ください。

また、hirakun-jpは、Amazon.co.jpを宣伝しリンクすることによってサイトが紹介料を獲得できる手段を提供することを目的に設定されたアフィリエイトプログラムである、Amazonアソシエイト・プログラムの参加者です。<br><br>

<h2 class="text-xl font-medium text-gray-700 my-0">アクセス解析ツールについて</h2>

当サイトでは、Googleによるアクセス解析ツール「Googleアナリティクス」を利用しています。このGoogleアナリティクスはトラフィックデータの収集のためにクッキー（Cookie）を使用しております。
トラフィックデータは匿名で収集されており、個人を特定するものではありません。

