<footer class="mt-20 px-10 py-8 bg-gray-200">
    <div class="max-w-5xl mx-auto text-gray-700 text-center">
        © 2022-2023 <a href="{{ '/' | url }}" class="font-medium" target="_blank" rel="noopener">{{ site.title }}</a> All Rights Reserved |
        Powered by <a href="https://www.11ty.dev" class="font-medium" target="_blank" rel="noopener">Eleventy</a> and <a href="https://tailwindcss.com" class="font-medium" target="_blank" rel="noopener">Tailwind CSS</a> |
        Special thanks to <a href="https://github.com/dafiulh/vredeburg" class="font-medium" target="_blank" rel="noopener">dafiulh</a> 
    </div>
    <div class="max-w-5xl mx-auto text-gray-700 text-center">
        <a href="{{ '/disclaimer' | url }}" class="font-medium">Disclaimer</a> |
        <a href="{{ '/privacy' | url }}" class="font-medium">Privacy</a>
    </div>
</footer>